 div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

* {
    padding: 0;
    margin: 0;
    border: solid 1px black;
}

:root {
    --width : 450px ;
    --height :700px;

}


/* 
.calcButton{
    width: var(--width);
    height: var(--height);
} */

/* .calcDisplay {
    width: var(--width);
    height: 100px;
} */

.hori {
    flex-direction: row;
}

.box {
    height:45px;
    width: 45px;
}
